version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - ../mlruns:/app/mlruns
      - ../data:/app/data
    command: gunicorn -k uvicorn.worker.UvicornWorker -c gunicorn_conf.py backend.main:app
